* {
    margin: 0;
    padding: 0;
}

.cabeçario {
    background-color: #f8f7f8;
    color: #c40467;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçario-imagem {
    width: 15%;
}

.cabeçario-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 25%;
}

.escola {
    background-image: linear-gradient(#f8f7f8, #300413);
    color: #c40467;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
}